.profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 320px;
	width: 100%;
	/* border: 2px solid #666666; */
	border-radius: 7px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1);

}

.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding-top: 40px;
	padding-bottom: 40px;

	background-color: #F8F8F8;
}

.avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #fff	;

	object-fit: cover;
}

.username {
	font-size: 22px;
	font-weight: 700;
	color: #666666;
	padding: 4px 8px;
}

.tag {
	font-size: 14px;color: #505160;

}

.location {
	font-size: 14px;color: #505160;
}

.stats {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	background-color: #F8F8F8;
	border: 1px solid #d2d8db;
}

.stats li {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	width: 100%;
	padding: 20px 0;

	border: 1px solid #cececf;

	background-color: #d2d8db;
}

.stats li:first-child {
	border-bottom-left-radius: 7px;
}

.stats li:last-child {
	border-bottom-right-radius: 7px;
}

.label {
	font-size: 14px;
	font-weight: 400;
	color: #5b5c6c;

}

.quantity {
	font-size: 20px;
	font-weight: 700;
	color: #666666;
}