@import-normalize; /* bring in normalize.css styles */
@import url('css/fonts.css');


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Установка базового шрифта и размера для всей страницы */
html {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
}

/* Удаление маркера списка по умолчанию */
ul,
ol {
  list-style: none;
}

/* Удаление стиля ссылки по умолчанию */
a {
  text-decoration: none;
  color: inherit;
}

/* Сброс стилей для заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* Сброс стилей для списков */
ul,
ol {
  padding-left: 0;
}

/* Сброс стилей для изображений */
img {
  max-width: 100%;
  height: auto;
}